/*********************************************
*** Designed by Juergen Koller			   ***
*** Designers Home: http://www.LernVid.com ***
**********************************************/

/****************** Template Colors ******************/
body {
	color: #555;
	background-color: #D3E8B2;
}
a, a:link, a:visited, a:active, a:focus {
	color: #a52a2a;
}
a:active {
	color: #0099FF !important;
}
#wrapper, #foot_container {
	background-color: #efefef;
	border: 1px solid #fff;
}
#header {
	background-color:#383838;
	border-top:1px solid #000;
	border-left:1px solid #111;	
	border-right:1px solid #111;
}
/* triangles in header */
.heckl {  
	border-top: 10px solid #222;  
}
.heckr {  
	border-top: 10px solid #222;  
}
/* triangles in header end */

#logo {
	color:#ddd;
}
a.imglogo {
	color: #ddd !important;
}
#subhead {
	background-color: #f9f9f9;
	border: 1px solid #fff;
}
.breadcrumbs {
	color:#888;
}
.breadcrumbs span {
	color:#555;
}
#maincontent {
	background-color: #f9f9f9;
	border: 1px solid #e9e9e9;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border:3px double #e9e9e9;
}
#subfoot {
	background-color: #313131;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #222;
}
.copytext {
	color: #5b6c71;	
}
#footer {
	background-color:#222;
	border-top: 1px solid #444;
	border-left:1px solid #444;	
	border-right:1px solid #444;	
	border-bottom:2px solid #555;
}
#footermodule1234, #footermodule1234 a, #footermodule1234 ul.menu, #footermodule5, #footermodule5 a {
	color:#5B6C71;
}
#footer a#gotop {
	color: #fff;
}
span#copy a {
	color: #555;	
}

/* triangles in footer */
.feckl {  
	border-bottom: 10px solid #222;  
}
.feckr {  
	border-bottom: 10px solid #222;  
}
/* triangles in footer end */
#leftcol .module div div, #leftcol .module_menu div div, #leftcol .module_text div div, 
#rightcol .module div div, #rightcol .module_menu div div, #rightcol .module_text div div {
	border: 1px solid #fff;
}
#leftcol .module div.lvround-inner, #leftcol .module_menu div.lvround-inner, #leftcol .module_text div.lvround-inner, 
#rightcol .module div.lvround-inner, #rightcol .module_menu div.lvround-inner, #rightcol .module_text div.lvround-inner {
	background: #f9f9f9;
	border: 1px solid #ddd;
}

#wrapper #leftcol h3.moduleh3 {
	background-color:#383838;
	color: #ddd;
	border-top:	1px solid #555;
	border-right: 1px solid #999;
	border-left: 1px solid #555;
}
#wrapper #rightcol h3.moduleh3 {
	background-color:#383838;
	color: #ddd;
	border-top:	1px solid #555;
	border-left: 1px solid #999;
	border-right: 1px solid #555;
}
/* triangles in module h3 */
.h3eckl {  
	border-top: 10px solid #222;  
}
.h3eckr {  
	border-top: 10px solid #222;  
}
/* triangles in module h3 end */

/**** Global Modules ****/

div.module {
	background-color:#fff;
	color:#505050;
	border:1px solid #ddd;
}
div.module h3.moduleh3 {
	background-color:#efefef;
	border:1px solid #ddd;
}

#sidepanel {
	background: #222;
	border: 2px solid #434345;
	border-left:0;
}


.input, .inputbox {
	color: #555;
	background-color: #efefef;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.input:hover, .inputbox:hover {
	color : #000;
	background-color: #f9f9f9;
}

input.btn, button.btn, button.validate, .pagenav, ul.pagenav li a {
	color: #555;
	background-color: #efefef;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background-image:url('../images/button.png');
	background-repeat:repeat-x;
}
input.btn:hover, button.btn:hover, button.validate:hover, .pagenav, ul.pagenav li a:hover {
	color: #000;
	background-color: #fff;
}
.page-header h2, .page-header h2 a, h2.item-title, h2.item-title a {
	color: #353535 !important;
}
div.item-separator {
	border-bottom:3px double #eee;
}


/****************** Menu Colors ******************/

/**** Dropdown Menu with suffix: _lv_dropdown ****/

#topmenu ul.menu {
	background-color:#222;
	border-top:3px double #fff;
	border-bottom:3px double #fff;
}
#topmenu ul.menu li {
	border-right: 1px solid #555;
}
#topmenu ul.menu li a, #topmenu ul.menu li span.separator {
	border:1px solid #000;
	border-right:1px solid #222;
	border-bottom:1px solid #333;
	color:#ccc;
	background-color:#222;
}
#topmenu ul.menu a:hover {
	color:#fff;
}

/** LEVEL 2 **/
#topmenu ul.menu ul {
	border:2px solid #000;
	background-color:#222;
}
#topmenu ul.menu li ul li a, #topmenu ul.menu li ul li span.separator {
	color: #999;
	border-top: 1px solid #000;
	border-left: 1px solid #333;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
}
#topmenu ul.menu li ul li a:hover {
	color : #fff;
}

#topmenu ul.menu li li {
	background-color: #171717;
}
#topmenu ul.menu li li:hover {
	background-color: #212121;
}

/**** Mainmenu with suffix: _menu ****/

.module_menu ul.menu li a, .module_menu ul.menu li span.separator {
	color: #333;
	border-bottom:1px dotted #ccc;
}
.module_menu ul.menu li a:hover, .module_menu ul.menu li a:active, .module_menu ul.menu li a:focus {
	color: #000;
	font-weight:bold;
}
.module_menu ul.menu li.current a {
	color: #000;
}
.module_menu ul.menu li.current ul li a {
	color: #000;
}

/* Joomla specific */

	/* articles */
.item-page, .item, .leading-0, .leading-1, .leading-2, .leading-3, .leading-4, .leading-5, .contact {
	background-color:#fff;
	border: 1px solid #E9E9E9;
}

/* easy tooltips start */

.easy-tooltip-default {
	border: 1px solid #A6A7AB; 
	background-color: #F2F3F5; 
	color: #800000;
}
.easy-tooltip-title {
	display:block;
	text-align:center;
	border-bottom:1px dotted;
	font-weight:bold;
}
.tip-white {
	color: #505050;
	background-color:#fff;
	border: 1px solid #ddd;
}
.tip-black {
	color:#fcfcfc;
	background-color:#333;
	border:1px solid #111;
}
.tip-blue {
	color:#1b475a;
	background-color:#d9f1fb;
	border:1px solid #7fcdee;
}
.tip-red {
	color:#fcfcfc;
	background-color:#bb3b1d;
	border:1px solid #8f2a0f;
}
.tip-green {
	color:#558221;
	background-color:#f2fdf1;
	border:1px solid #b6e184;
}
.tip-yellow {
	color: #5b5316;
	background-color:#f9f2ba;
	border: 1px solid #e9d315;
}

/* easy tooltips end */

/* easy caption start */

.easy-caption-background {
	background-color:#000000;
	border-top:1px solid #555;
}
.easy-caption-foreground {
	color:#bbb;
}
.easy-caption-title {
	border-bottom:1px dotted #bbb;
	color: #fff;
}
.easy-caption-wrapper {
	background:#eee;
	border:1px solid #ccc;
}
.easy-caption-close {
	color:#fff;
	background:#000;
	border:1px solid #333;
}

/* easy caption end */

/* article images */
.item-image {
	padding:7px;
	background:#eee;
	border:1px solid #ccc;
}
p.img_caption {
	color: #555;
}

