/*********************************************
*** Designed by Juergen Koller			   ***
*** Designers Home: http://www.LernVid.com ***
**********************************************/

.cols-1	{
        display: block;
        float: none !important;
        margin: 0 !important;
}

.cols-2 .column-1 {
        width:44%;
        float:left;
}
.cols-2 .column-2 {
        width:44%;
        float:right;
        margin:0
}

.cols-3 .column-1 {
        float:left;
        width:27%;
        margin-right:3%
}
.cols-3 .column-2 {
        float:left;
        width:27%;
        margin-left:0;
}
.cols-3 .column-3 {
        float:right;
        width:27%;
}
.items-leading, .items-row {
        overflow:hidden;
}
.items-row, .leading-0, .leading-1, .leading-2, .leading-3, .leading-4, .leading-5 {
        margin-bottom:25px !important;
}
.column-2 {
        width:55%;
        margin-left:40%;
}
.column-3 {
        width:30%
}
.item-page, .item, .leading-0, .leading-1, .leading-2, .leading-3, .leading-4, .leading-5, .contact,
#maincontent div.search, #maincontent .categories-list, #maincontent .category-list, 
#maincontent .archive , #maincontent .contact-category, #maincontent .weblink-category, 
#maincontent .newsfeed-category, #maincontent .login, #maincontent .profile, #maincontent .profile-edit, 
#maincontent .registration, #maincontent .remind, #maincontent .reset, #maincontent .finder {
	overflow:hidden;
	padding:2%;
}
.items-more {
        padding:10px 5px
}

/****************** System TOOLTIPS ******************/
.tip-wrap {
	float : left;
	background-color : #202020;
	border:3px double #555;
	padding : 7px 9px;
	z-index: 13000;
	max-width:300px;
	border-radius:5px;
}
.tip-title {
	color: #fff;
	font-weight:bold;
	font-size:12px;
}
.tip-text {
	color: #999;
	font-size:11px;
	font-weight: normal;
	margin : 0;
}

/****************** PAGENAV ******************/
input.btn, button.btn, button.validate, ul.pagenav li a {
	display:block;
	font-size:12px;
	padding: 5px 7px !important;
}
#maincontent ul.pagenav {
	list-style-type:none;
	padding:0;
	overflow:hidden;
	border: 0;
	background:none;
}
ul.pagenav {
	display:inline-block;
	margin-top:20px;
	width:99%;
}
ul.pagenav li {
	display:inline-block;
	padding:0px;
	margin:0;
}
#maincontent ul.pagenav li {
	line-height:2em
}
ul.pagenav li.pagenav-prev {
	float:left
}
ul.pagenav li.pagenav-next {
	float:right
}

/****************** PAGENATION ******************/

#maincontent .pagination {
        margin:10px 0 ;
        padding:10px 0 10px 0px;
}
#maincontent .pagination ul {
        list-style-type:none;
        margin:0;
        padding:0;
        text-align:left;
        clear:both;
}
#maincontent .pagination li {
        display:inline;
        padding:2px 5px;
        text-align:left;
        margin:0 2px
}
#maincontent .pagination li.pagination-start,
#maincontent .pagination li.pagination-next,
#maincontent .pagination li.pagination-end,
#maincontent .pagination li.pagination-prev {
	border:0
}
#maincontent .pagination li.pagination-start ,
#maincontent .pagination li.pagination-start  span {
	padding:0
}
p.counter {
	font-weight:bold;
	text-align:right;
	clear:both;
}

/****************** PRINT-EMAIL ******************/

#maincontent ul.dropdown-menu {
	margin:0;
	padding:0;
}
#maincontent ul.dropdown-menu li {
	float:left;
	list-style:none;
	background-repeat: no-repeat;
	font-size: 11px;
	padding-left: 20px;
	margin-left: 10px;
}
#maincontent ul.dropdown-menu li.print-icon {
	background-image : url(../images/system/printButton.png);
}
#maincontent ul.dropdown-menu li.email-icon {
	background-image : url(../images/system/emailButton.png);
}
#maincontent ul.dropdown-menu li.edit-icon {
	background-image : url(../images/system/editButton.png);
}


/* vote */
.content_rating, .content_vote {
	display:inline-block;
}
.content_rating img {
	padding:0 4px 10px 4px;
}

.page-header h1 {
	text-align:right;
	margin:0 0 25px 0;
	padding:0 10px;
	font-size:1em;
	font-variant:small-caps;
	border-bottom:1px dashed;
}
.page-header h2, h2.item-title {
	background-image:url('../images/balloon.png');
	background-repeat:no-repeat;
	min-height:32px;
	line-height:32px;
    padding-left: 40px;
	margin: 10px 0;
}
/****************** ARTICLE INFOS ******************/

div.article-info {
    margin:0 0 10px 0px;
    font-size:11px;
	padding: 0 0 0 20px;
}
.article-info-term {
	font-weight:bold;
}
div.parent-category-name,
div.category-name,
div.create,
div.modified,
div.published,
div.createdby,
div.hits {
    padding-left:20px;
    min-height:16px;
    line-height:16px;
	background-repeat:no-repeat;
	margin:2px 0 !important;
    line-height: normal !important;
	display:inline-block;
	width:100%;
}
div.parent-category-name {
	background-image:url('../images/parent-catagory.png');
}
div.category-name {
	background-image:url('../images/category.png');
}
div.create {
	background-image:url('../images/create.png');
}
div.modified {
	background-image:url('../images/modified.png');
}
div.published {
	background-image:url('../images/create.png');
}
div.createdby {
	background-image:url('../images/createdby.png');
}
div.hits {
	background-image:url('../images/hits.png');
}

.archive .article-info dd,
.article-info dd {
        margin:2px 0 0px 0;
        line-height:1.2em
}
.article-info dd span {
    text-transform:none;
    display:inline-block;
    padding:0 5px 0 0px;
    margin:0 10px 0 0px;
}

/****************** CATEGORIES LIST ******************/

.category-list .filters {
	display:inline-block;
	width: 100%;
}
.category-list li {
	display:inline-block;
	width: 100%;
}
/****************** TABLES ******************/

table.weblinks,
table.category {
        font-size:1em;
        margin:10px 10px 20px 0px;
        width:99%;
}
table.weblinks td {
        border-collapse:collapse;
}
table.weblinks td,
table.category td {
	padding: 5px 0;
}
table.weblinks th,
table.category th {
	text-align:left;
	padding: 8px 0;	
}

td.num {
        vertical-align:top;
        text-align:left;
}
td.hits {
        vertical-align:top;
        text-align:center
}
td p {
        margin:0;
        line-height:1.3em
}
.filter {
        margin:10px 0
}
.subheading-category {
	display:block;
	font-size:15px !important;
}
fieldset.filters {
	margin:10px 0;
	padding:0;
	display:block;
}
.hidelabeltxt {
	font-weight:bold;
	padding:0;
}
.display-limit,
.filter {
        text-align:right;
        margin-right:7px
}



/* CATEGORY TABLE */

table.category th a img {
        padding:2px 10px
}
.filter-search {
        float:left;
}
.filter-search .inputbox{width:6em;}
legend.element-invisible {
        position:absolute;
        margin-left:-3000px;
        margin-top:-3000px;
        height:0px;
}
.cat-items {
        margin-top:20px
}
/* single contact */

.accordion-heading {
	font-size: 150%;
	margin: 30px 0 10px 0;
}
.accordion-body {
	padding:0 10px 20px 10px;
}

/******************** contacts ********************/

.contact-category {
        padding:0 10px
}
.contact-category  #adminForm fieldset.filters {
	border:0;
	padding:0
}
.contact-image {
	margin:10px 0;
	float:right;
	overflow:hidden;
}
.contact-image img {
	float:right;
}
address {
        font-style:normal;
        margin:10px 0;       
}

address span {
        display:block;
}
.contact-position {
	font-weight:bold;
	font-size:1.4em;
}
.contact-address {
	margin:20px 0 10px 0;
}
.contact-email div {
        padding:2px 0;
        margin:0 0 10px 0;
}
.contact-email label {
	display:block;
}
span.contact-image {
    margin-bottom:10px;
    overflow:hidden;
    display:block
}
#contact-textmsg {padding: 2px 0 10px 0}

#contact-email-copy {
        float:left;
        margin-right:10px;
}
.contact .button {
        float:none !important;
        clear:left;
        display:block;
        margin:20px 0 0 0
}
/* tabs */

.contact #contact-slider {
	width:100%;
}
.contact dl.tabs {
	background: url(../images/nav_level_1.gif) repeat-x ;
}
.contact dl.tabs h3 {
	margin:0;
	padding:0;
}
dl.tabs {
    float: left;
    margin: 50px 0 0 0;
    z-index: 50;
    clear:both;
}
dl.tabs dt {
    float: left;
    padding: 4px 10px;
    margin-right: 3px;
    border-right:3px double #ccc;
}
dl.tabs dt.open a {
    z-index: 100;
	text-decoration:underline;
}
.contact div.current {
    clear: both;
    padding: 10px 10px;
    max-width: 500px;
}
.contact div.current dd {
    padding: 0;
    margin: 0;
}
dl#content-pane.tabs {
    margin: 1px 0 0 0;
}
/* contact icons */

.contact .jicons-icons {
	float:left;
	margin-right: 7px;
}

.contact address {
	margin-left:23px;
}
.contact h3 {
	clear:both;
}

/* tables   */

table.weblinks th,
table.newsfeeds th,
table.category th,
table.jlist-table th {
	font-size:16px;
}

table.category th a img {
	border:solid 0px ;
}
#main table.moduletable td,
#main table.moduletable tr,
fieldset.filters {
	border:0;
}

/* login form  */
form#login-form input {
	display:block;
}

/* forms */

form .control-group {
	margin: 0 0 15px; 0;
}
form .control-group input {
	width: auto;
	display:inline;
}

/* form validation  */

.invalid {
	border-color:red !important;
}

label.invalid {
	color:red;
}


/* user profile  */
#users-profile-core,
#member-profile 
#users-profile-custom {
	border:solid 1px #ccc;
}
fieldset {
	border:solid 1px #ccc;
}

/* user profile  */

#users-profile-core,
#users-profile-custom {
        margin:10px 0 15px 0;
        padding:15px;
}
#users-profile-core dt,
#users-profile-custom dt {
        float:left;
        width:10em;
        padding:3px 0
}
#users-profile-core dd,
#users-profile-custom dd {
        padding:3px 0
}
#member-profile fieldset,
.registration fieldset {
        margin:10px 0 15px 0;
        padding:15px;
}
#users-profile-core legend,
.profile-edit legend,
.registration legend {
		font-weight:bold
}

/* breadcrumb */
ul.breadcrumb {
    float: left;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    margin: 8px 0 0 26px;
    max-width: 650px;
    overflow: hidden;
    padding: 0 7px;
}
ul.breadcrumb li {
	display:inline;
	list-style:none;
}
ul.breadcrumb li span.divider {
	margin: 0 4px;
}

/* search */
.searchintro {
        font-weight:normal;
        margin:20px 0 20px;
}
#searchForm {
        padding:0 5px
}
div.search .element-invisible {
	display:none;
}
div.search .inputbox {
	padding: 4px 20px 4px 20px;
	margin:0 15px 0 0;
	min-width: 150px;
	border-radius: 10px 0 10px 0;
}


.form-limit {
        margin:20px 0 0;
        text-align:right;
        padding:0 10px 0 20px;
}
.highlight {
        font-weight:bold;
}
.ordering-box {
        width:40%;
        float:right;
}
fieldset.phrases {
	width: 100%;
}
.phrases-box {
        width:60%;
        float:left
}
.only,
.phrases {
        margin:10px 0 0 0px;
        padding:15px ;
        line-height:1.3em;
}
label.ordering {
        display:block;
        margin:10px 0 10px 0
}
.word {
        padding:10px 10px 10px 0;
}
.word input {
        font-weight:bold;
        margin:1px 1px 1px 10px;
        padding:3px;
}
.word input:focus {
        margin:0 0 0 9px;
}

.word label {
    font-weight:bold
}
fieldset.only label,
fieldset.phrases label {
    margin:0 10px 0 0px
}
.ordering-box label.ordering {
    margin:0 10px 5px 0;
    float:left
}
form .search label {
        display:none
}

/* selects  */
.phrases .inputbox {
        width:10em;
}
.phrases .inputbox option {
        padding:2px;
}

/* search results  */

dl.search-results dt.result-title {
        padding:15px 15px 0px 5px;
        font-weight:bold;
}

dl.search-results dd {
        padding:2px 15px 2px 5px
}

dl.search-results dd.result-text {
        padding:10px 15px 10px 5px;
        line-height:1.7em
}

dl.search-results dd.result-created {
        padding:2px 15px 15px 5px
}

dl.search-results dd.result-category S{
	 padding:10px 15px 5px 5px
}
.highlight {
	background: #FF9999;
	color: red;
	font-weight:bold;
	padding:2px;
}
/* editor  */

.contentpaneopen_edit img {
	border:0
}

form.editor fieldset {
	border:solid 1px #ccc;
}


/* edit  */

form#adminForm {
	border:solid 0px #000
}

.edit form#adminForm fieldset {
	border:solid 1px #ddd
}
.edit form#adminForm  legend {
	font-weight:bold
}
/* edit */
legend {
        padding:3px 5px;
}
.edit form#adminForm fieldset {
        padding:20px 15px;
        margin:10px 0 15px 0;
}

.formelm {
        margin:5px 0
}


.formelm label {
        width:13em;
        display:inline-block;
        vertical-align:top;
}

form#adminForm .formelm-area {
        padding:5px 0
}

form#adminForm .formelm-area label {
        vertical-align:top;
        display:inline-block;
        width:7.9em
}

.formelm-buttons {
        text-align:right;
        margin-bottom:10px
}
a.modal-button,
.button2-left .blank a,
.button2-left a,
.button2-left div.readmore a {
	background:#eee;
	padding:4px !important;
	margin:0 !important;
	line-height:1.2em; border:solid 1px #ddd;
	font-weight:bold; text-decoration:none;
	margin-top:10px !important
}
#publishing .control-group:first-child {
	clear:both;
	width:100%;
	margin-top: 20px;
	display: inline-block;
}

ul.actions li {
	list-style: none !important;
}
/* -- buttons */

#jform_publish_up, #jform_publish_down {
    float: left !important;
}
button#jform_publish_up_img, button#jform_publish_down_img {
    background-image: url("../images/system/printButton.png");
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px !important;
}


.btn-toolbar .btn-group  {
	width: auto;
	display: inline;
}
.btn-toolbar .btn-group .btn btn-primary {
	float: left;
}
.btn-toolbar .btn-group:first-child {
	float: left;
	margin-right: 20px;
}
#editor-xtd-buttons {
        padding: 0px;
}

.button2-left,
.button2-right,
.button2-left div,
.button2-right div {
        float: left;
}

.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
        display: block;
        float: left;
        cursor: pointer;
}

.button2-left span,
.button2-right span {
        cursor: default;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span {
        padding: 0 6px;
}

.page span {
        font-weight: bold;
}

.button2-left a:hover,
.button2-right a:hover {
        text-decoration: none;
}

.button2-left a,
.button2-left span {
        padding: 0 24px 0 6px;
}

.button2-right a,
.button2-right span {
        padding: 0 6px 0 24px;
}

.button2-left {
       
        float: left;
        margin-left: 5px;
}

.button2-right {
       
        float: left;
        margin-left: 5px;
}

  /* mod stats  */
.stats-module dl {
	margin:10px 0 10px 0;
}
.stats-module dt {
	float:left;
    margin:0 10px 0 0;
    font-weight: bold;
}
.stats-module dt,   .stats-module dd{
	padding:2px 0 2px 0; 
}



/****************** GLOBAL THINGS ******************/

div.clearfix {
	clear:both;
}
.category-desc {
	line-height:1.7em;
    margin:10px 0;
    padding-left:0px;
	display: inline-block;
}
.image-left {
        float:left;
        margin:0 15px 5px 0;
}

.image-right {
        float:right;
        margin:0 0 5px 15px
}
fieldset {
	border:0;
}

div#system-message {
	font-weight:bold;
	font-size:15px;
}
div#system-message .alert {
	color: red;
	background-color: #fff;
	border: 1px solid;
	padding: 5px 30px;
	margin: 0 0 10px 0;
}
#mailto-window{
	width:950px;
	margin:0 auto;
	padding:20px;
}


/* article images */

.pull-none, .pull-left, .pull-right {
	padding:7px;
}

.pull-none {
	display:inline-block;
}
.pull-left {
	float:left;
	margin: 5px 15px 10px 0;
}
.pull-right {
	float:right;
	margin: 5px 0 10px 10px;
}
p.img_caption {
	margin:5px 0 0 0;
	text-align:center;
	font-size:13px;
	font-style:italic;
	display:inline-block;
	width:100%;
}