/*********************************************
*** Designed by Juergen Koller			   ***
*** Designers Home: http://www.LernVid.com ***
**********************************************/

/****************** Joomla Backend Parameter Style Pimp ******************/

.fieldset_header {
	font-size: 1.4em;
	padding-left: 40px;
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	line-height: 32px;
	text-shadow: 1px 1px 1px #fff, 1px 2px 3px #aaa;
}
#welcomefields-options {
	background-image: url('../images/xml/tip.png');
}
#globtemplfields-options {
	background-image: url('../images/xml/sitemap.png');
}
#fontfields-options {
	background-image: url('../images/xml/fonts.png');
}
#logofields-options {
	background-image: url('../images/xml/logo.png');
}
#templcolorfields-options {
	background-image: url('../images/xml/tempcolors.png');
}
#ddcolors-options {
	background-image: url('../images/xml/ddcolors.png');
}
#advanced-options {
	background-image: url('../images/xml/advanced.png');
}
b.ttip {
	background-image: url('../images/xml/ttip.png');
	background-repeat: no-repeat;
	padding-left: 18px;
	cursor: help;
}
fieldset.panelform label,
fieldset.panelform div.paramrow label,
fieldset.panelform span.faux-label {
	min-width: 160px;
}
span.spacer hr {
	width: 380px;
}