ul.breadcrumb {
	@media (min-width: @minDesktopWidth) {
		float: left;
		margin: 8px 0 0 26px;
		max-width: 650px;
	}
	@media (max-width: @maxMobileWidth) {
		text-align: center;
		width: 100%;
		margin: 8px 0 0 0;
	}
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	padding: 0 7px;
	li {
		display: inline;
		list-style: none;
		span.divider {
			margin: 0 4px;
		}
	}
}
.breadcrumb, .breadcrumb span {
	color: @breadcrumbColor;
}
