/* ACCORDION */
.lvacc-all {
	cursor:pointer;
	font-weight:bold;
	letter-spacing:1px;
	font-size:1.2em;
	display:block;
}
.lvacc {
	cursor:pointer;
	color: #555;
	height:31px;
	line-height:30px;
	font-weight:bold;
	display:block;
	padding:0 35px;
	margin:10px 0 0 0;
	background-color:#eee;
	background-image : url(../images/lvacc.jpg);
	background-repeat : no-repeat;
	border:1px solid #aaa;
	border-bottom-color:#bbb;
	&:hover {
		color: #000;
		display: block;
		background-color: #fff;
		background-position: left -30px;
		text-decoration: none;
	}
	&:active {
		color: #0099FF !important;
	}
}
.lvacc_active {
	color: #0099FF;
	background-position: left -60px;
	&:hover {
		color: #000;
		background-position: left -60px;
	}
}
.hideme {
	margin-bottom:30px;
	padding: 5px 30px 20px 30px;
}
/* ACCORDION end */
