/* Rules regarding topmenu dropdown */
#topmenu {
	ul.menu {
		background-repeat: repeat-x;
		background-color: @ddBackground;
		border-top: 3px double @ddBorderTop;
		border-bottom: 3px double @ddBorderBottom;
		/* All Levels */
		&, ul {
			margin: 0;
			z-index: 999;
			width: 100%;
		}
		li {
			line-height: 1.5em; 
			border-right: 1px solid @ulLiBorderRight;
			display: inline-block;
			position: relative;
			a, span.separator {
				min-height: 24px;
				padding: 10px 15px;
			}
			&.parent > {
				a, span.separator {
					background-repeat: no-repeat;
					background-position: center right;
					padding-right: 30px;
				}
			}
			a {
				/* Images */
				img {
					vertical-align: middle;
					padding-right: 5px;
				}
				span {
					vertical-align: middle;
				}
			}
		}
		/* Level 1 */
		&, > li > a, > li > span.separator {
			background-image: url(../images/menu/dropdown-@{dropdownImage}.png)
		}
		> li {
			a, span.separator {
				font-size: 14px;
				padding: 10px 15px;
				background-color: @ulLiaBackground;
				border-top: 1px solid @ulLiaBorderTop;
				border-right: 1px solid @ulLiaBorderRight;
				border-left: 1px solid @ulLiaBorderLeft;
				border-bottom: 1px solid @ulLiaBorderBottom;
				color: @ulLiaColor;
				&:hover {
					color: @ulLiaHoverColor;
				}
			}
			&.parent > {
				a, span.separator {
					background-image: url(../images/menu/menu-parent-@{dropdownImage}.png);
					&:hover {
						background-image: url(../images/menu/menu-parent-hover-@{dropdownImage}.png);
					}
				}
			}
			&.active.parent > {
				a, span.separator {
					background-image: url(../images/menu/menu-parent-hover-@{dropdownImage}.png);
				}
			}
		}
		/* Level 2 */
		ul.nav-child {
			background-color: @ululBackground;
			position: absolute;
			top: 2.2em;
			padding: 5px;
			width: 214px;
			border: 2px solid @ululBorder;
			.border-radius(4px);
			a:hover, a:focus {
				text-decoration: none;
			}
			li {
				background-color: @ulLiliBackground;
				margin: 2px;
				&:hover {
					background-color: @ulLiliHoverBackground;
				}
				a, span.separator {
					font-size: 12px;
					display: inline-block;
					padding: 4px 8px;
					width: 194px;
					border: 1px solid;
					border-top-color: @ulLiliaBorderTop;
					border-right-color: @ulLiliaBorderRight;
					border-left-color: @ulLiliaBorderLeft;
					border-bottom-color: @ulLiliaBorderBottom;
					color: @ulLiliaColor;
					&:hover {
						color: @ulLiliaHoverColor;
					}
				}
				&.parent > {
					a, span.separator {
						background-image: url(../images/menu/menulili_parent.gif);
						&:hover {
							background-image: url(../images/menu/menulili_parent_hover.gif);
						}
					}
				}
			}
		}
		/* LEVEL 3 */
		ul.nav-child  {
			ul {
				left: 200px;
				top: 1.1em;
			}
		}
	}
}