/* CSS Rules related to modules */
/* Allrounder Chrome */
/* Corner Images could be done with border-image, but isn't supported by < IE11 */
.module-content {
	margin-top: 10px;
	.module-inner {
		padding: 10px;
	}
	.moduleh3 {
		margin: 0 0 10px 0;
		padding: 7px 8px;
		font-size: 1.3em;
		line-height: 1em;
	}
}
/* Default Style */
.module {
	.module-content {
		background-color: @moduletableBg;
		border: 1px solid @moduletableBorder;
		color: @moduletableFont;
	}
	.chrome-border {
		background-repeat: no-repeat;
	}
	.chrome-border.left-top {
		background-image : url(../images/modules/module-lt.png);
		background-position: left top;
	}
	.chrome-border.right-top {
		background-image : url(../images/modules/module-rt.png);
		background-position: right top;
	}
	.chrome-border.right-bottom {
		background-image : url(../images/modules/module-rb.png);
		background-position: right bottom;
	}
	.chrome-border.left-bottom {
		background-image : url(../images/modules/module-lb.png);
		background-position: left bottom;
	}
	.moduleh3 {
		border: 1px solid @moduletableh3Border;
		#gradient > .vertical-three-colors(lighten(@moduletableh3Bg, 5%), @moduletableh3Bg, 66%, @moduletableh3Bg);
	}
}
/* Special Styles */
/* Paper */
.module-style1 {
	.module-content {
		color: #505050;
		border: 1px solid #ddd;
		background-color: #fff;
	}
	.chrome-border {
		background-repeat: no-repeat;
	}
	.chrome-border.left-top {
		background-image : url(../images/modules/module-lt.png);
		background-position: left top;
	}
	.chrome-border.right-top {
		background-image : url(../images/modules/module-rt.png);
		background-position: right top;
	}
	.chrome-border.right-bottom {
		background-image : url(../images/modules/paper-rb.png);
		background-position: right bottom;
	}
	.chrome-border.left-bottom {
		background-image : url(../images/modules/module-lb.png);
		background-position: left bottom;
	}
}
/* Post-It */
.module-style2 {
	.module-content {
		#gradient > .vertical(#FFFF99, desaturate(#FFFF99, 15%));
		background-color: #FFFF99;
		border: 1px solid #dddd00;
		color: #000066;
		font-family: "Comic Sans MS";
	}
}
/* Carbon */
.module-style3 {
	.module-content {
		background-image: url(../images/modules/carbon.jpg);
		background-color: #000;
		border: 5px solid #333;
		color: #aaa;
	}
}
/* Rausch */
.module-style4 {
	.module-content {
		background-image: url(../images/modules/rausch.jpg);
		background-color: #333;
		border: 5px solid #444;
		color: #eee;
	}
}
/* Scan */
.module-style5 {
	.module-content {
		background-color: #222;
		border: 5px solid #333;
		color: #eee;
		background-image: url(../images/modules/scan.jpg);
	}
}
/* Riffle */
.module-style6 {
	.module-content {
		background-image: url(../images/modules/riffle.jpg);
		background-color: #bbb;
		border: 5px solid #ccc;
		color: #000;
		font-weight: bold;
		.moduleh3 {
			border: 2px solid #ccc;
			height: 30px;
			line-height: 30px;
			padding: 0 20px;
			background-image: url(../images/modules/riffle-h3.jpg);
			background-repeat: repeat-x;
		}
	}
}
/* AllrounderSidebar Chrome */
.moduleh3-sidebar {
	min-height: 35px;
	line-height: 35px;
	font-size: 120%;
	#gradient > .vertical-three-colors(lighten(@moduleh3BgColor, 1%), lighten(@moduleh3BgColor, 7%), 33%, @moduleh3BgColor);
	background-color: @moduleh3BgColor;
	border-top: 1px solid @moduleh3BorderTopColor;
	color: @moduleh3Color;
	position:relative;
	.border-top-radius(5px);
}
.module-outer, .module-outer_menu {
	> div {
		border: 1px solid @moduleBorderOuterColor;
		.module-inner {
			padding: 10px 3%;
			background-color: @moduleBgColor;
			border: 1px solid @moduleBorderInnerColor;
			color: @moduleColor;
		}
	}
}
#leftcol .moduleh3-sidebar {
	padding: 0 10px 0 30px;
	border-left: 1px solid @moduleh3BorderOuterColor;
	border-right: 1px solid @moduleh3BorderInnerColor;
}
#rightcol .moduleh3-sidebar {
	padding: 0 30px 0 10px;
	text-align: right;
	border-right: 1px solid @moduleh3BorderOuterColor;
	border-left: 1px solid @moduleh3BorderInnerColor;
}
/* Module shadow */
.shadow-left, .shadow-right {
	display: block;
	height: 8px;
	background-repeat: no-repeat;
}
.shadow-left {
	background-image: url('../images/modules/shadow-l.png');
	background-position: left;
}
.shadow-right {
	background-image: url('../images/modules/shadow-r.png');
	background-position: right;
	margin-top: -8px;
}
/* To disable the shadows in modules use suffix " shadows-off" */
.shadows-off {
	.shadow-left, .shadow-right {
		display: none;
	}
}
/* Module Positions */
#banner {
	position: absolute;
	right: 0;
	max-width: 50%;
	max-height: 80px;
	overflow: hidden;
	margin: 5px 26px 5px 5px;
	padding: 5px;
}
#beforehead, #afterhead,
#beforecontent, #aftercontent,
#top, #bottom,
#foot {
	margin: 15px 1%;
}
/* top-panel */
#toppanel {
	display: none;
	.module-content {
		margin-top: 0;
	}
}
#toppanel-toggle {
	width: 110px;
	height: 18px;
	position: fixed;
	top: 0;
	right: 60px;
	background-image: url('../images/modules/toppanel-toggle.png');
	background-position: bottom;
	&:hover {
		height: 26px;
	}
}
/* side-panel */
#sidepanel-outer {
	position: fixed;
	top: 30%;
}
#sidepanel {
	display: none;
	padding: 10px 20px;
	min-height: 110px;
	float: left;
	background: #222;
	border: 2px solid #434345;
	border-left: 0;
}
#sidepanel-toggle {
	width: 18px;
	height: 110px;
	display: block;
	float: left;
	margin-top: 10px;
	background-image: url('../images/modules/leftpanel-toggle.png');
	background-position: right;
	&:hover {
		width: 26px;
	}
}
/* footer */
#footermodule {
	font-size: 11px;
	width: 80%;
	overflow: hidden;
	text-align: center;
	margin: 10px 10%;
}
/* footermodules */
#footermodules {
	overflow: hidden;
	margin: 0 10%;
	color: @footColor;
	&, a, ul.menu {
		color: @footColor;
	}
	> div {
		padding: 10px 0;
		font-size: 10px;
	}
	.moduletable {
		h3 {
			font-size: 11px;
			text-transform: uppercase;
			margin: 0 0 3px 0;
		}
	}
}
/* all menus */
li.current {
	font-weight: bold;
}
/* search module */
input.search-query {
	.border-radius(10px 0 10px 0);
	.input-small;
}
