/* Main file */
// CSS Reset
// @import "../../../media/jui/less/reset.less";
@import "reset.less"; // Local copy, fixing a bug with IE

// Core variables and mixins
@import "variables.less"; // default variables, template variables are injected with plugin
@import "../../../media/jui/less/mixins.less";

// Grid system and page structure
@import "../../../media/jui/less/scaffolding.less";
@import "../../../media/jui/less/grid.less";
@import "../../../media/jui/less/layouts.less";

// Base CSS
@import "../../../media/jui/less/type.less";
@import "../../../media/jui/less/code.less";
@import "../../../media/jui/less/forms.less";
@import "../../../media/jui/less/tables.less";

// Components: common
// @import "../../../media/jui/less/sprites.less";
@import "../../../media/jui/less/dropdowns.less";
@import "../../../media/jui/less/wells.less";
@import "../../../media/jui/less/component-animations.less";
@import "../../../media/jui/less/close.less";

// Components: Buttons & Alerts
// @import "../../../media/jui/less/buttons.less";
@import "buttons.less"; // Local copy, fixing a bug and customizing
@import "../../../media/jui/less/button-groups.less";
@import "../../../media/jui/less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "../../../media/jui/less/navs.less";
@import "../../../media/jui/less/navbar.less";
// @import "../../../media/jui/less/breadcrumbs.less"; // We've got our own.
// @import "../../../media/jui/less/pagination.less"; // We've got our own.
@import "../../../media/jui/less/pager.less";

// Components: Popovers
@import "../../../media/jui/less/modals.less";
@import "../../../media/jui/less/tooltip.less";
@import "../../../media/jui/less/popovers.less";

// Components: Misc
@import "../../../media/jui/less/thumbnails.less";
@import "../../../media/jui/less/labels-badges.less";
@import "../../../media/jui/less/progress-bars.less";
@import "../../../media/jui/less/accordion.less";
@import "../../../media/jui/less/carousel.less";
@import "../../../media/jui/less/hero-unit.less";

// Utility classes
@import "../../../media/jui/less/utilities.less";

// RESPONSIVE CLASSES
// ------------------

@import "../../../media/jui/less/responsive-utilities.less";


// MEDIA QUERIES
// ------------------

// Phones to portrait tablets and narrow desktops
@import "../../../media/jui/less/responsive-767px-max.less";

// Tablets to regular desktops
@import "../../../media/jui/less/responsive-768px-979px.less";

// Large desktops
@import "../../../media/jui/less/responsive-1200px-min.less";


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "../../../media/jui/less/responsive-navbar.less";

// Extended for JUI
@import "../../../media/jui/less/bootstrap-extended.less"; // Has to be last to override when necessary

// div.modal (instead of .modal)
@import "../../../media/jui/less/modals.joomla.less";

// Icon Font
// @import "../../../media/jui/less/icomoon.less";
@import "icomoon.less"; // Local copy, references don't work otherwise

// Custom LESS files
@import "joomla.less";
@import "typo.less";
@import "breadcrumbs.less";
@import "dropdown.less";
@import "modules.less";
@import "ribbons.less";
@import "pagination.less";
@import "css3-effects.less";

// Deprecated stuff
@import "deprecated.less";

/****************** LAYOUT ******************/

/* Guard for background image */
.quarded-bgImage() when (@bodyBackgroundImage = "") {
	background-image: url(../images/background.png);
}
.quarded-bgImage() when not (@bodyBackgroundImage = "") {
	background-image: url(../../../@{bodyBackgroundImage});
}
.quarded-bgImageRepeat() when (@bodyBackgroundImageRepeat = 1) {
	repeat: url(../images/background.png);
}
.quarded-bgImageRepeat() when not (@bodyBackgroundImageRepeat = 1) {
	background-repeat: no-repeat;
}
body {
	.quarded-bgImage();
	.quarded-bgImageRepeat();
	/* Needed to override Bootstrap paddings in lower media sizes */
	padding-left: 0;
	padding-right: 0;
}

/* whatWidth (Fixed or Dynamic) */
// Could maybe done with container and container-fluid
.quarded-whatWidth() when (@whatWidth = 1) {
	max-width: @pageMaxWidth;
}
.quarded-whatWidth() when not (@whatWidth = 1) {
	width: @pageWidth;
}
#wrapper, #foot_container {
	.quarded-whatWidth();
	margin: 0 auto;
	background-color: @wrapperBgColor;
	border: 1px solid @wrapperBorderColor;
}
#wrapper {
	margin-top: @wrapperMarginTop;
	padding: 0 0 10px 0;
	.opacity(@wrapperBgTransparency);
}
#foot_container {
	margin-bottom: @footerMarginBottom;
	padding: 0 0 7px 0;
	overflow: visible;
}
#header_container {
	padding-top: 14px;
}
.template_less_header() when (@maxMobileWidth > 0) {
	@media (min-width: @minDesktopWidth) {
		.border-top-radius(5px);
	}
}
.template_less_header() when not (@maxMobileWidth > 0) {
	.border-top-radius(5px);
}
#header {
	min-height: 120px;
	position: relative;
	#gradient > .vertical-three-colors(lighten(@headBgColor, 10%), lighten(@headBgColor, 15%), 25%, @headBgColor);
	background-color: @headBgColor;
	.template_less_header();
	border-top: 1px solid @headBorderColor;
	border-left: 1px solid @headBorderColor;
	border-right: 1px solid @headBorderColor;
}
#logo {
	overflow: hidden;
	a.logo {
		color: @logoColor;
		line-height: normal;
		font-size: 46px;
		display: block;
		letter-spacing: -1px;
		padding-top: 10px;
	}
}
a {
	&:active {
		color: #0099FF;
	}
	&.imglogo, &.medialogo {
		float: left;
		padding: 20px 20px 0 0;
	}
	&.logo:hover {
		text-decoration: none;
	}
}
#topmenu_container {
	min-height: 30px;
}
#subhead {
	.clearfix();
	min-height: 35px;
	margin: 10px .2% 0 .2%;
	#gradient > .vertical-three-colors(@subheadBgColor, darken(@subheadBgColor, 1%), 33%, darken(@subheadBgColor, 11%));
	background-color: @subheadBgColor;
	border: 1px solid @subheadBorderColor;
	form {
		margin: 0;
	}
}
.template_less_search() when (@maxMobileWidth > 0) {
	/* mobile: display Search under breadcrumb */
	@media (min-width: @minDesktopWidth) {
		float: right;
		margin: 4px 4px 4px 0;
	}
	@media (max-width: @maxMobileWidth) {
		text-align: center;
		margin: 1em 0 4px 0;
	}
}
.template_less_search() when not (@maxMobileWidth > 0) {
	float: right;
	margin: 4px 4px 4px 0;
}
#search {
	.template_less_search();
	.search form,
	#mod-finder-searchform div {
		&:before {
			content: url('../images/search.png');
			vertical-align: middle;
		}
	}
	label.finder {
		display: none;
	}
}
.template_less_container() when (@maxMobileWidth > 0) {
	@media (min-width: @minDesktopWidth) {
		padding: 10px 7px 0 7px;
	}
	@media (max-width: @maxMobileWidth) {
		padding: 10px 0 0 0;
	}
}
.template_less_container() when not (@maxMobileWidth > 0) {
	padding: 10px 7px 0 7px;
}
#container {
	text-align: left;
	.template_less_container();
	margin: auto;
}
#leftcol, #rightcol {
	margin: 0;
	padding: 0 0 10px 0;
}
.template_less_cols_desktop() {
	/* cols */
	#leftcol {
		width: e(@leftcolWidth + '%');
		float: left;
	}
	#rightcol {
		width: e(@rightcolWidth + '%');
		float: right;
	}
	/* left and right NOT loaded */
	#content_out {
		margin: 0 0 0 0.2%;
	}
	/* just left loaded */
	#content_outleft {
		float: right;
		width: e((99 - @leftcolWidth) + '%');
	}
	/* left and right loaded */
	#content_outmiddle {
		float: left;
		margin: 0 1%;
		width: e((98 - @rightcolWidth - @leftcolWidth) + '%');
	}
	/* just right loaded */
	#content_outright {
		float: left;
		width: e((99 - @rightcolWidth) + '%');
	}
}
.template_less_cols() when (@maxMobileWidth > 0) {
	@media (min-width: @minDesktopWidth) {
		.template_less_cols_desktop();
	}
}
.template_less_cols() when not (@maxMobileWidth > 0) {
	.template_less_cols_desktop();
}
.template_less_cols();
#maincontent {
	padding: 20px 3% 20px 3%;
	margin: 10px 0 0 0;
	min-height: 200px;
	background-image: url('../images/background.png');
	background-color: @contentBgColor;
	border: 3px double @contentBorderColor;
	width: auto;
}
#subfoot {
	min-height: 15px;
	background-color: @subfootBgColor;
	border-top: 1px solid @subfootBorderTopColor;
	border-bottom: 1px solid @subfootBorderBottomColor;
}
.copytext {
	padding: 3px 0;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	color: @subfootColor;
}
#footer {
	min-height: 80px;
	padding: 0;
	position: relative;
	overflow: visible;
	#gradient > .vertical-three-colors(lighten(@footBgColor, 10%), lighten(@footBgColor, 15%), 25%, @footBgColor);
	background-color: @footBgColor;
	border: 1px solid @footBorderColor;
	border-bottom: 2px solid @footBorderColor;
	a#gotop {
		color: @gotopLinkColor;
	}
}
.footer-inner {
	display: inline-block;
	width: 100%;
	min-height: 62px;
}
#scroll_up {
	float: right;
	margin-right: 5%;
	margin-top: 15px;
	a#gotop:hover {
		text-decoration: overline;
	}
}
.footer-bottom {
	display: inline-block;
	width: 100%;
	line-height: normal;
	font-style: italic;
	span {
		&#date {
			font-size: 10px;
			float: left;
			padding-left: 20px;
		}
	}
}
/* Mainmenu with suffix: _menu */
.module_menu ul {
	margin-left: 5px;
	li {
		line-height: 30px;
		&:before {
			float: left;
			font-family: 'IcoMoon';
			speak: none;
			content: '\e010';
		}
		a, span.separator {
			display: block;
			padding-left: 15px;
			overflow: visible;
			color: @mainMenuFont;
			border-bottom: 1px dotted @mainMenuBorderBottom;
		}
		a {
			&:hover, &:active, &:focus {
				font-weight: bold;
				background-color: @mainMenuBorderBottom;
				color: @mainMenuFontHover;
			}
			img {
				vertical-align: middle;
				padding-right: 5px;
			}
			span {
				vertical-align: middle;
			}
		}
		&.current > a {
			font-weight: bold;
			color: @mainMenuFontCurrent;
		}
		a {
			transition-property: padding-left;
			transition-duration: 0.4s;
			&:hover {
				padding-left: 35px;
				transition-duration: 0.2s;
			}
		}
		ul {
			margin-left: 10px;
			font-size: 90%;
			li {
				line-height: 18px;
				a {
					font-weight: normal;
					color: @mainMenuLiLiFont;
				}
			}
		}
	}
}
/* Input styling, type declarations to override bootstrap (forms.less) */
select,
textarea,
input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	height: auto;
	color: @inputFontColor;
	border-top-color: @inputBorderTopColor;
	border-left-color: @inputBorderLeftColor;
	border-right-color: @inputBorderRightColor;
	border-bottom-color: @inputBorderBottomColor;
	&:hover {
		color: @inputHoverFontColor;
		background-color: @inputHoverBgColor;
	}
}
// Allow us to put symbols and text within the input field for a cleaner look
.input-append,
.input-prepend {
	.add-on {
		height: auto;
	}
}
// guarded-headingImage() is a conditional mixing. It will not be outputted in the CSS by itself.
.guarded-headingImage() when (@contentheadingImage = 1) {
	background-image: url(../images/balloon.png);
	background-repeat: no-repeat;
	padding-left: 40px;
}
.guarded-headingImage() when (@contentheadingImage = 2) {
	background-image: url(@{basePath}@{contentheadingImageMedia});
	background-repeat: no-repeat;
	padding-left: 40px;
}
.guarded-headingImage() when (@contentheadingImage = 0) {
}
.page-header h2, h2.item-title {
	.guarded-headingImage();
	line-height: 32px;
	min-height: 32px;
	margin: 10px 0;
	&, a {
		color: @articletitleColor;
	}
}
h2.item-title {
	border-bottom: 1px solid @grayLighter;
	padding-bottom: 15px;
}
div {
	&.slogan {
		color: @sloganColor;
		font-size:18px;
		padding: 0 40px 10px 100px;
	}
}
