/*********************************************
*** Designed by Juergen Koller			   ***
*** Designers Home: http://www.LernVid.com ***
**********************************************/

/****************** Joomla Backend Parameter Style Pimp ******************/

fieldset.panelform label,
fieldset.panelform div.paramrow label,
fieldset.panelform span.faux-label {
	min-width: 160px;
}
span.spacer hr {
	width: 380px;
}
label.smooth, label.aero, laebl.carbon, label.leather {
	color: #cccccc;
	background-color: #222222;
	background-position: center;
}
label.smooth:hover, label.aero:hover, laebl.carbon:hover, label.leather:hover {
	color: #ffffff;
	background-color: #222222;
	background-position: center;
}
label.smooth {
	background-image: url(../images/dropdown-smooth.png) !important;
}
label.aero {
	background-image: url(../images/dropdown-aero.png) !important;
}
label.carbon {
	background-image: url(../images/dropdown-carbon.png) !important;
}
label.leather {
	background-image: url(../images/dropdown-leather.png) !important;
}
div.defaultvalue {
	border-bottom: 1px dashed #666;
}